/EXPEDIENTE_DIGITAL_2
/documentos

# CONFIGURACION BASE DE DATOS
# /audienciasjuz/Conexion.php
# /audiencias
# /audiencias/config.inc.php
# /audienciasjuz
# /audienciasjuz/PHPPdf
# /audienciasjuz/PHPPdf/conexion.php
# /audienciasjuz/Funciones.php
# /eventos
# /eventos/funciones
# /eventos/funciones/Conexion.php
# /eventos/clase.php
# /funciones
# /funciones/Conexion.php
# /funciones/expediente_digital_SOLICITUDES.php
# /libs
# /libs/conexion.php
# /libs/Conexion_Funciones.php
# /models
# /models/documentosexcelModel.php
# /models/hojavidaModel.php
# /models/indexModel.php
# /models/select_dependientes_proceso.php
# /repartomasivo
# /repartomasivo/funciones
# /repartomasivo/funciones/Conexion.php
# /repartomasivo/clase.php
# /views
# /views/PHPPdf
# /views/PHPPdf/conexion.php
# /views/popupbox
# /views/popupbox/audi_editinplace.php
# /views/popupbox/auto_edit_remates.php
# /views/popupbox/Conexion.php
# /views/popupbox/Conexionpopupbox.php
# /views/popupbox/editinplace.php
# /views/popupbox/editinplace_3.php
# /views/popupbox/expediente_digital_actuaciones.php
# /views/popupbox/expediente_digital_acumulada.php
# /views/popupbox/expediente_digital_acumulada_2.php
# /views/popupbox/expediente_digital_memo.php
# /views/popupbox/Funciones.php
# /views/popupbox/gc_editinplace.php
# /views/popupbox/gc_editinplace_acti.php
# /views/popupbox/gc_editinplace_revi.php
# /views/popupbox/hoja_control_titulose_cargar.php
# /views/popupbox/hoja_control_titulose_editar.php
# /views/popupbox/juz_editinplace_obs.php
# /views/popupbox/juz_obtener_expe.php
# /views/popupbox/so_editinplace_soli.php
# /views/tcpdf
# /views/tcpdf/GENERAR_APROBAR_COSTAS.php
# /views/tcpdf/GENERAR_AUDIENCIAS.php
# /views/tcpdf/GENERAR_AVOCA_CONOCIMIENTO.php
# /views/tcpdf/GENERAR_AVOCA_CONOCIMIENTO_.php
# /views/tcpdf/GENERAR_AVOCA_CONOCIMIENTO_APROBAR.php
# /views/tcpdf/GENERAR_AVOCA_CONOCIMIENTO_TLC.php
# /views/tcpdf/GENERAR_HCET.php
# /views/tcpdf/GENERAR_LIQUIDACION.php
# /views/tcpdf/GENERAR_NONUEVO_NOLIQUI.php
# /views/tcpdf/GENERAR_NUEVO.php
# /views/tcpdf/GENERAR_NUEVO_LIQUIDACION.php
# /views/tcpdf/GENERAR_REMATES.php
# /views/tcpdf/GENERAR_TRASLADO_110_COMPLETO.php
# /views/tcpdf/HISTORIAL_PROCESO.php
# /views/tcpdf/HOJA_VIDA.php
# /views/tcpdf/RECIBIDO.php
# /views/viewstablas
# /views/viewstablas/Data_table_2
# /views/viewstablas/Data_table_2/php
# /views/viewstablas/Data_table_2/php/config.php
# /views/viewstablas/Conexion.php
# /views/viewstablas/Conexion2.php
# /views/viewstree
# /views/viewstree/conexion.php
# /views/siepro_estado_masivo_autos.php
# /conectar.php
# /config.php