html,
body {
    width: 100%;
    /* height: 100% !important; */
    background-color: #E6E6E6;
    margin: 0;
    padding: 0;
    position: relative;
}

/* ------------------------------ page-404 - page-500 ------------------------------ */
section.header-404,
section.header-500 {
    align-items: center;
    display: flex;
    height: 7vh;
    justify-content: center;
}

section.page-404,
section.page-500 {
    align-items: center;
    background-color: #e9ecef;
    display: flex;
    flex-direction: column;
    height: 93vh;
    justify-content: center;
}

.font-size-70 {
    font-size: 70px !important;
}

/* ------------------------------ Estilos validate ------------------------------ */
/* .is-invalid {
    background-color: rgba(255, 0, 0, .1) !important;
}

.is-valid {
    background-color: rgba(0, 255, 0, .1) !important;
} */

form span.badge {
    font-size: 11.5px;
    font-weight: 400;
}

span.badge {
    opacity: .8;
}

span i.text-danger::before,
span i.text-success::before {
    opacity: .8;
}

/* ------------------------------ vuevalidate ------------------------------ */

input.input-vuelidate,
select.select-vuelidate {
    border: 1px solid silver;
    border-radius: 4px;
    background: white;
    padding: 5px 10px;
    flex: 1 1 auto;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    width: 1%;
}

select.select-vuelidate {
    height: calc(2.25rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #757575;
}

input.input-vuelidate:focus-visible,
select.select-vuelidate:focus-visible {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.dirty {
    border-color: #5A5 !important;
    background-color: #EFE !important;
}

.dirty:focus {
    outline-color: #8E8 !important;
}

.error {
    border-color: red !important;
    background-color: #FDD !important;
}

.error:focus {
    outline-color: #F99 !important;
}